<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="NPOI" Version="2.7.2" TargetFramework="netstandard2.1" AllowedVersions="[2.7.2]" />
  <package ID="Enums.NET" Version="4.0.2" TargetFramework="netstandard2.1" AllowedVersions="[4.0.1, )" />
  <package ID="ExtendedNumerics.BigDecimal" Version="2025.1005.0.264" TargetFramework="netstandard2.1" AllowedVersions="[2025.1001.2.129, )" />
  <package ID="MathNet.Numerics.Signed" Version="5.0.0" TargetFramework="netstandard2.0" AllowedVersions="[5.0.0, )" />
  <package ID="Microsoft.IO.RecyclableMemoryStream" Version="3.0.1" TargetFramework="netstandard2.1" AllowedVersions="[3.0.0, )" />
  <package ID="BouncyCastle.Cryptography" Version="2.5.1" TargetFramework="netstandard2.0" AllowedVersions="[2.3.1, )" />
  <package ID="SharpZipLib" Version="1.4.2" TargetFramework="netstandard2.1" AllowedVersions="[1.4.2, )" />
  <package ID="SixLabors.Fonts" Version="1.0.1" TargetFramework="netstandard2.1" AllowedVersions="[1.0.1, )" />
  <package ID="SixLabors.ImageSharp" Version="2.1.10" TargetFramework="netstandard2.1" AllowedVersions="[2.1.9, )" />
  <package ID="System.Security.Cryptography.Xml" Version="8.0.2" TargetFramework="netstandard2.0" AllowedVersions="[8.0.2, )" />
  <package ID="System.Security.Cryptography.Pkcs" Version="8.0.1" TargetFramework="netstandard2.1" AllowedVersions="8.0.1" />
  <package ID="System.ComponentModel.Annotations" Version="4.7.0" TargetFramework="netstandard2.1" AllowedVersions="[4.6.0, )" />
  <package ID="System.Runtime.CompilerServices.Unsafe" Version="5.0.0" TargetFramework="netstandard2.0" AllowedVersions="5.0.0" />
  <package ID="System.Text.Encoding.CodePages" Version="5.0.0" TargetFramework="netstandard2.0" AllowedVersions="[5.0.0, )" />
  <package ID="System.Security.AccessControl" Version="6.0.1" TargetFramework="netstandard2.0" AllowedVersions="[6.0.0, )" />
  <package ID="System.Formats.Asn1" Version="8.0.2" TargetFramework="netstandard2.0" AllowedVersions="[8.0.1, )" />
  <package ID="System.Security.Cryptography.Cng" Version="5.0.0" TargetFramework="netstandard2.1" AllowedVersions="[5.0.0, )" />
  <package ID="System.Security.Principal.Windows" Version="5.0.0" TargetFramework="netstandard2.0" AllowedVersions="[5.0.0, )" />
  <package ID="HtmlAgilityPack" Version="1.12.0" TargetFramework="netstandard2.0" AllowedVersions="[1.12.0]" />
</packages>